.custom_product_wrap{width:870px; height:670px; background:#fff; border:2px solid #ddd; margin:20px auto; padding:15px;}
	.custom_product_wrap h2{font-size:18px; font-weight:normal; color:#000; margin:0 0 15px 0; padding:0;}
	.custom_product_lt{width:502px; float:left; margin-right:15px;}
	.custom_product_rt{width:350px; border:1px solid #ddd; float:left; height:628px; padding:0;}
	.custom_product_lt .custom_image_container{border:1px solid #ddd; position:relative;}
	.custom_product_lt .custom_other_images{display:block; margin:10px 0;}
	.custom_product_lt .custom_other_images ul{margin:0 -7px; padding:0; list-style:none;}
	.custom_product_lt .custom_other_images ul li{list-style:none; border:1px solid #ddd; margin:0 7px; float:left;}
	.custom_product_lt .custom_other_images ul li a{display:table-cell;}
	.custom_product_lt .custom_other_images ul li a img{vertical-align:middle;}
	
	.custom_product_rt h3{font-size: 16px; margin: 0 0 15px; color:#1e3176;}
	.custom_product_rt ul{margin:0; padding:0;}
	.custom_product_rt ul li{margin:0 0 15px; list-style:none; clear:both;}
	.custom_product_rt ul li label{font-size:14px; font-weight:bold; padding-bottom:10px; display:block;}
	.custom_product_rt ul li select{border:1px solid #ddd; padding:3px; width:298px; height:24px; background:none repeat scroll 0 0 #F6F6F6; font-size:12px;}
	.custom_product_rt ul li input[type="text"]{border:1px solid #ddd; padding:3px; width:290px; height:18px; background:none repeat scroll 0 0 #F6F6F6; font-size:12px;}
	.custom_product_rt ul li select option {background: none repeat scroll 0 0 #FFFFFF; font-size: 12px; padding: 8px; border-bottom:1px solid #ddd; border-right:1px solid #ddd; }
	.custom_product_rt ul li select option:hover{background:#f6f6f6;}	
	.custom_reflective_strp ul.back_stripe{display:none;}
	.custom_reflective_strp ul li{list-style:none; position:absolute;}
	.custom_product_rt .custom_product_size_sel{display:none;}
	.custom_product_size_sel small{float:right; cursor:pointer; background:#ddd; color:#000; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:0 5px; -moz-border-radius: 5px; border-radius:5px; line-height:18px; font-weight:bold;}
	.selected_options .selected_options_list{overflow-x:hidden; overflow-y:auto; height:155px;}
	.selected_options p{padding:10px 0 10px 0; display:block; border-bottom:1px solid #ddd; margin:0;}
	.selected_options p small{float:right; cursor:pointer; background:#ddd; color:#000; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:0 5px; -moz-border-radius: 5px; border-radius:5px; line-height:18px; font-weight:bold; margin-right:10px;}
	.custom_image_rotate button{background:#084b9a; -moz-border-radius: 5px; border-radius:5px; border:1px solid #04448e; color:#fff; font-size:12px; font-weight:bold; padding:5px 10px; cursor:pointer; margin:0 10px; position:relative; bottom:10px;}
	#sel_optstripnone{display:none;}
	.custom_product_rt .selected_options{display:none;}
	
	.custom_product_wrap .ui-accordion .ui-accordion-content{height:335px; padding:10px;}
	#accordion h3{font-size:14px; font-weight:bold; color:#fff; background:#084691; padding:8px 10px!important; margin:0!important; border:1px solid #1456a0; border-bottom:none; cursor:pointer;}
	
	.ui-state-active .ui-icon{background-image: url("images/ui-icons_454545_256x240.png")!important;}
	
	.custom_product_rt_top{padding:10px;}
	#accordion{margin:0 10px; height: auto; width: 94%; border: 1px solid #084691;}
	.custom_price{font-weight:bold; font-size:14px; margin-bottom:0;}
	.custom_product_rt_top h2{background:#ddd; margin:-10px -10px 10px -10px; padding:10px;}
	.selected_options label{padding-bottom:0;}
	
	
	/*************** Front Stripe *********************/
	
	.custom_reflective_strp ul li#plc_f{bottom: 34px; left: 185px;}
	.custom_reflective_strp ul li#blc_f{bottom: 105px; left: 185px;}
	.custom_reflective_strp ul li#plk_f{bottom: 140px; left: 185px;}
	.custom_reflective_strp ul li#blt_f{bottom: 170px; left: 185px;}
	.custom_reflective_strp ul li#bsf_f{bottom: 336px; left: 154px;}
	.custom_reflective_strp ul li#aac_f{bottom: 336px; left: 154px;}
	.custom_reflective_strp ul li#huf_f{bottom: 336px; left: 154px;}
	.custom_reflective_strp ul li#lsc_f{bottom: 336px; left: 154px;}
	
	/**************** Back Stripe *********************/
	
	.custom_reflective_strp ul li#plc_b{bottom: 34px; left: 194px;}
	.custom_reflective_strp ul li#blc_b{bottom: 105px; left: 192px;}
	.custom_reflective_strp ul li#plk_b{bottom: 140px; left: 191px;}
	.custom_reflective_strp ul li#blt_b{bottom: 170px; left: 190px;}
	.custom_reflective_strp ul li#bsf_b{bottom: 336px; left: 152px;}
	.custom_reflective_strp ul li#aac_b{bottom: 336px; left: 152px;}
	.custom_reflective_strp ul li#huf_b{bottom: 336px; left: 152px;}
	.custom_reflective_strp ul li#lsc_b{bottom: 336px; left: 152px;}
	
	
	/********************** Logo ***********************/
	
	.selected_logo_options .selected_logo_options_list{}
	.selected_logo_options p{padding:10px 0 10px 0; display:block; border-bottom:1px solid #ddd; margin:0; position:relative;}
	.selected_logo_options p small{float:right; cursor:pointer; background:#ddd; color:#000; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:0 5px; -moz-border-radius: 5px; border-radius:5px; line-height:18px; font-weight:bold; margin-right:10px;}
	
	
	.custom_logo{position:absolute; top:0px;}
	.front_logo{display:block; list-style:none;}
	.custom_logo li{width:41px; height:24px; display:block; list-style:none!important; position:absolute; text-align:90px;}
	.front_logo #l_luf{top: 40px; left: 180px;}
	.front_logo #l_ruf{top: 40px; left: 250px;}
	
	.back_logo{display:block; list-style:none; display:none;}
	.back_logo #l_cmb{top: 90px; left: 230px;}
	.back_logo #l_bbc{top: 30px; left: 230px;}
	
	.custom_product_logo_avail{display:none; margin:0 0 15px 0;}
	.custom_product_logo_avail ul{display:inline-block; margin:0 0 10px 0!important;}
	.custom_product_logo_avail li{float:left; display:inline-block!important; clear:none!important; margin:3px!important; cursor:pointer;}
	
	.logo_select{position:absolute; right:40px;}
	
	.selected_logo_options{display:none;}
	
	.logo_ok, #embroid_ok{background:#084b9a; -moz-border-radius: 5px; border-radius:5px; border:1px solid #04448e; color:#fff; font-size:12px; font-weight:bold; padding:5px 10px; cursor:pointer; margin:0 auto; text-align:center; display:block; clear:both;}
		
	#custom_stripes_style{width:295px; margin-bottom:10px;}
	.custom_product_rt .dd-select{width:295px!important;}
	.custom_product_rt .dd-select {cursor:pointer;}
	.custom_product_rt .dd-selected{padding:3px; font-weight:normal;}
	.custom_product_rt .dd-options{width:295px!important;}
	.custom_product_rt .dd-options li label{font-size: 12px; font-weight: normal; line-height: 24px !important; padding: 0; cursor:pointer;}
	.custom_product_rt .dd-options li{margin:0;}
	.custom_product_rt .dd-selected label.dd-selected-text{padding:0; line-height:26px!important; font-size:12px; font-weight:normal; cursor:pointer;}
	.custom_product_rt .dd-option-image, .custom_product_rt .dd-selected-image{max-width:100px;}
	
	.custom_stripes_positon{width:305px; border: 1px solid #CCCCCC; border-radius: 2px 2px 2px 2px; cursor: pointer; position: relative; background:#f6f6f6;}
	
	.custom_product_rt .dd-pointer{background:url(images/select_arrow.jpg) no-repeat scroll right 0!important; margin-top:-8px!important; width:15px; height:16px; border:0!important;}
	
	.ref_location{display:none;}
	
	.custom_product_embroid_options{display:none;}
	.selected_embroid_options{display:none;}
	
	.custom_product_rt #custom_embroid_color .dd-selected label.dd-selected-text{line-height:22px!important;}
	
	@font-face {
	font-family: 'Conv_TS Block Bold';
	src: url('fonts/TS Block Bold.eot');
	src: local('?'), url('fonts/TS Block Bold.woff') format('woff'), url('fonts/TS Block Bold.ttf') format('truetype'), url('fonts/TS Block Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	@font-face {
	font-family: 'Conv_Marcsc___';
	src: url('fonts/Marcsc___.eot');
	src: local('?'), url('fonts/Marcsc___.woff') format('woff'), url('fonts/Marcsc___.ttf') format('truetype'), url('fonts/Marcsc___.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	@font-face {
	font-family: 'Conv_Promotion Script';
	src: url('fonts/Promotion Script.eot');
	src: local('?'), url('fonts/Promotion Script.woff') format('woff'), url('fonts/Promotion Script.ttf') format('truetype'), url('fonts/Promotion Script.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
	.B_style{font-family:Arial, Helvetica, sans-serif; font-weight:bold!important;}	
	.S_style{font-family:"Conv_Marcsc___",Arial, Helvetica, sans-serif;}	
	.R_style{font-family:"Times New Roman", Times, serif;}	
	.T_style{font-family:"Conv_Promotion Script",Arial, Helvetica, sans-serif;}	
	
	.size_08{font-size:10px; font-weight:normal; margin:0;}
	.size_12{font-size:11px; font-weight:normal; margin:0;}
	.size_15{font-size:12px; font-weight:normal; margin:0;}
	.size_18{font-size:13px; font-weight:normal; margin:0;}
	.size_25{font-size:14px; font-weight:normal; margin:0;}
	
	.col_50064-BL{color:#000000;}
	.col_50088-RL {color:#2b3d87}
	.col_50562-WF{color:#9d1a1f}
	.col_50738-1A{color:#1f6a2f}
	.col_50635-NU{color:#562a1d}
	.col_50081-WH{color:#ffffff}
	
	.selected_embroid_options .selected_embroid_options_list{overflow-x:hidden; overflow-y:auto;}
	.selected_embroid_options p{padding:10px 0 10px 0; display:block; border-bottom:1px solid #ddd; margin:0; position:relative;}
	.selected_embroid_options p small{float:right; cursor:pointer; background:#ddd; color:#000; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:0 5px; -moz-border-radius: 5px; border-radius:5px; line-height:18px; font-weight:bold; margin-right:10px; position:absolute; top:10px; right:0;}
	.selected_embroid_options p span{display:block; clear:both;}

	.custom_product_wrap .ui-accordion .ui-accordion-content{overflow-y:auto; overflow-x:hidden;}
	
	.custom_product_logo_avail img {width: 87px;}
	.custom_product_flags_avail, .custom_product_countryflags_avail, .logo_options{display:none;}
	
	.logo_options li a{color:#000; text-decoration:none;}
	
	.state_nm{font-size:10px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#fff; display:block; text-align:center; margin-top:-9px;}